In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Downloads/indian.csv")
df

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,07-03-2021,IN,12737.0,12310.0,11,427.0,43217.0,43217.0,656.0,64,...,8242367,29427,NaN,NaN,NaN,NaN,3150418.0,5389,8242367,29427
1,06-03-2021,IN,12726.0,12299.0,29,427.0,43153.0,43153.0,663.0,49,...,8212940,41718,NaN,NaN,NaN,NaN,3145029.0,6386,8212940,41718
2,05-03-2021,IN,12697.0,12263.0,34,434.0,43104.0,43104.0,730.0,60,...,8171222,37626,NaN,NaN,NaN,NaN,3138643.0,5320,8171222,37626
3,04-03-2021,IN,12663.0,12231.0,30,432.0,43044.0,43044.0,692.0,89,...,8133596,40539,NaN,NaN,NaN,NaN,3133323.0,5730,8133596,40539
4,03-03-2021,IN,12633.0,12200.0,10,433.0,42955.0,42955.0,731.0,93,...,8093057,36945,NaN,NaN,NaN,NaN,3127593.0,4564,8093057,36945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,02-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,0,NaN,NaN,NaN,NaN,NaN,0,6,0
371,01-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,2,NaN,NaN,NaN,NaN,NaN,0,6,2
372,29-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,4,2,NaN,NaN,NaN,NaN,NaN,0,4,2
373,28-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,2,1,NaN,NaN,NaN,NaN,NaN,0,2,1
374,27-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,1,0,NaN,NaN,NaN,NaN,NaN,0,1,1

In [3]:
df.index

RangeIndex(start=0, stop=375, step=1)

In [4]:
df.columns

Index(['date', 'state', 'death', 'deathConfirmed', 'deathIncrease',
       'deathProbable', 'hospitalized', 'hospitalizedCumulative',
       'hospitalizedCurrently', 'hospitalizedIncrease', 'inIcuCumulative',
       'inIcuCurrently', 'negative', 'negativeIncrease',
       'negativeTestsAntibody', 'negativeTestsPeopleAntibody',
       'negativeTestsViral', 'onVentilatorCumulative', 'onVentilatorCurrently',
       'positive', 'positiveCasesViral', 'positiveIncrease', 'positiveScore',
       'positiveTestsAntibody', 'positiveTestsAntigen',
       'positiveTestsPeopleAntibody', 'positiveTestsPeopleAntigen',
       'positiveTestsViral', 'recovered', 'totalTestEncountersViral',
       'totalTestEncountersViralIncrease', 'totalTestResults',
       'totalTestResultsIncrease', 'totalTestsAntibody', 'totalTestsAntigen',
       'totalTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'totalTestsPeopleViral', 'totalTestsPeopleViralIncrease',
       'totalTestsViral', 'totalTestsViralIncrease'],
      dtype='object')

In [5]:
df.describe()

,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,inIcuCumulative,inIcuCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
count,359.000000,309.000000,375.000000,300.000000,304.000000,304.000000,317.000000,375.000000,304.000000,336.000000,...,3.750000e+02,375.000000,0.0,0.0,0.0,0.0,2.990000e+02,375.000000,3.750000e+02,375.000000
mean,4539.000000,4960.530744,33.965333,262.250000,19466.927632,19466.927632,1510.157729,115.245333,3600.292763,439.380952,...,2.528876e+06,21979.642667,NaN,NaN,NaN,NaN,1.591062e+06,8401.114667,2.528876e+06,21979.645333
std,3504.168705,3219.945452,83.630083,84.062134,13251.621931,13251.621931,853.919901,251.504231,2206.503529,225.209602,...,2.570921e+06,18052.938861,NaN,NaN,NaN,NaN,9.706683e+05,9320.408298,2.570921e+06,18052.935606
min,0.000000,1132.000000,0.000000,134.000000,4389.000000,4389.000000,595.000000,-13.000000,990.000000,104.000000,...,1.000000e+00,0.000000,NaN,NaN,NaN,NaN,1.505100e+05,0.000000,1.000000e+00,0.000000
25%,2388.000000,2629.000000,10.000000,197.000000,8054.500000,8054.500000,865.000000,0.000000,1706.750000,264.500000,...,3.346360e+05,6043.500000,NaN,NaN,NaN,NaN,7.045510e+05,4644.000000,3.346360e+05,6043.500000
50%,3397.000000,3447.000000,21.000000,227.000000,13377.000000,13377.000000,1138.000000,62.000000,2670.500000,370.000000,...,1.550884e+06,18542.000000,NaN,NaN,NaN,NaN,1.463436e+06,7782.000000,1.550884e+06,18542.000000
75%,6347.000000,7070.000000,42.000000,337.500000,32780.500000,32780.500000,2036.000000,161.000000,5751.500000,568.500000,...,4.433724e+06,35390.500000,NaN,NaN,NaN,NaN,2.550756e+06,11530.000000,4.433724e+06,35390.500000
max,12737.000000,12310.000000,1546.000000,434.000000,43217.000000,43217.000000,3460.000000,4389.000000,7600.000000,1001.000000,...,8.242367e+06,68372.000000,NaN,NaN,NaN,NaN,3.150418e+06,150510.000000,8.242367e+06,68372.000000

In [6]:
df.head(4)

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,07-03-2021,IN,12737.0,12310.0,11,427.0,43217.0,43217.0,656.0,64,...,8242367,29427,NaN,NaN,NaN,NaN,3150418.0,5389,8242367,29427
1,06-03-2021,IN,12726.0,12299.0,29,427.0,43153.0,43153.0,663.0,49,...,8212940,41718,NaN,NaN,NaN,NaN,3145029.0,6386,8212940,41718
2,05-03-2021,IN,12697.0,12263.0,34,434.0,43104.0,43104.0,730.0,60,...,8171222,37626,NaN,NaN,NaN,NaN,3138643.0,5320,8171222,37626
3,04-03-2021,IN,12663.0,12231.0,30,432.0,43044.0,43044.0,692.0,89,...,8133596,40539,NaN,NaN,NaN,NaN,3133323.0,5730,8133596,40539

In [7]:
df.tail(5)

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
370,02-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,0,NaN,NaN,NaN,NaN,NaN,0,6,0
371,01-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,2,NaN,NaN,NaN,NaN,NaN,0,6,2
372,29-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,4,2,NaN,NaN,NaN,NaN,NaN,0,4,2
373,28-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,2,1,NaN,NaN,NaN,NaN,NaN,0,2,1
374,27-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,1,0,NaN,NaN,NaN,NaN,NaN,0,1,1

In [8]:
df.to_csv("indian.csv", index= False)
df

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,07-03-2021,IN,12737.0,12310.0,11,427.0,43217.0,43217.0,656.0,64,...,8242367,29427,NaN,NaN,NaN,NaN,3150418.0,5389,8242367,29427
1,06-03-2021,IN,12726.0,12299.0,29,427.0,43153.0,43153.0,663.0,49,...,8212940,41718,NaN,NaN,NaN,NaN,3145029.0,6386,8212940,41718
2,05-03-2021,IN,12697.0,12263.0,34,434.0,43104.0,43104.0,730.0,60,...,8171222,37626,NaN,NaN,NaN,NaN,3138643.0,5320,8171222,37626
3,04-03-2021,IN,12663.0,12231.0,30,432.0,43044.0,43044.0,692.0,89,...,8133596,40539,NaN,NaN,NaN,NaN,3133323.0,5730,8133596,40539
4,03-03-2021,IN,12633.0,12200.0,10,433.0,42955.0,42955.0,731.0,93,...,8093057,36945,NaN,NaN,NaN,NaN,3127593.0,4564,8093057,36945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,02-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,0,NaN,NaN,NaN,NaN,NaN,0,6,0
371,01-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,2,NaN,NaN,NaN,NaN,NaN,0,6,2
372,29-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,4,2,NaN,NaN,NaN,NaN,NaN,0,4,2
373,28-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,2,1,NaN,NaN,NaN,NaN,NaN,0,2,1
374,27-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,1,0,NaN,NaN,NaN,NaN,NaN,0,1,1

In [9]:
df

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,07-03-2021,IN,12737.0,12310.0,11,427.0,43217.0,43217.0,656.0,64,...,8242367,29427,NaN,NaN,NaN,NaN,3150418.0,5389,8242367,29427
1,06-03-2021,IN,12726.0,12299.0,29,427.0,43153.0,43153.0,663.0,49,...,8212940,41718,NaN,NaN,NaN,NaN,3145029.0,6386,8212940,41718
2,05-03-2021,IN,12697.0,12263.0,34,434.0,43104.0,43104.0,730.0,60,...,8171222,37626,NaN,NaN,NaN,NaN,3138643.0,5320,8171222,37626
3,04-03-2021,IN,12663.0,12231.0,30,432.0,43044.0,43044.0,692.0,89,...,8133596,40539,NaN,NaN,NaN,NaN,3133323.0,5730,8133596,40539
4,03-03-2021,IN,12633.0,12200.0,10,433.0,42955.0,42955.0,731.0,93,...,8093057,36945,NaN,NaN,NaN,NaN,3127593.0,4564,8093057,36945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,02-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,0,NaN,NaN,NaN,NaN,NaN,0,6,0
371,01-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,2,NaN,NaN,NaN,NaN,NaN,0,6,2
372,29-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,4,2,NaN,NaN,NaN,NaN,NaN,0,4,2
373,28-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,2,1,NaN,NaN,NaN,NaN,NaN,0,2,1
374,27-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,1,0,NaN,NaN,NaN,NaN,NaN,0,1,1

In [10]:
df = pd.read_csv("Downloads/indian.csv")

In [11]:
df

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,07-03-2021,IN,12737.0,12310.0,11,427.0,43217.0,43217.0,656.0,64,...,8242367,29427,NaN,NaN,NaN,NaN,3150418.0,5389,8242367,29427
1,06-03-2021,IN,12726.0,12299.0,29,427.0,43153.0,43153.0,663.0,49,...,8212940,41718,NaN,NaN,NaN,NaN,3145029.0,6386,8212940,41718
2,05-03-2021,IN,12697.0,12263.0,34,434.0,43104.0,43104.0,730.0,60,...,8171222,37626,NaN,NaN,NaN,NaN,3138643.0,5320,8171222,37626
3,04-03-2021,IN,12663.0,12231.0,30,432.0,43044.0,43044.0,692.0,89,...,8133596,40539,NaN,NaN,NaN,NaN,3133323.0,5730,8133596,40539
4,03-03-2021,IN,12633.0,12200.0,10,433.0,42955.0,42955.0,731.0,93,...,8093057,36945,NaN,NaN,NaN,NaN,3127593.0,4564,8093057,36945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,02-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,0,NaN,NaN,NaN,NaN,NaN,0,6,0
371,01-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,2,NaN,NaN,NaN,NaN,NaN,0,6,2
372,29-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,4,2,NaN,NaN,NaN,NaN,NaN,0,4,2
373,28-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,2,1,NaN,NaN,NaN,NaN,NaN,0,2,1
374,27-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,1,0,NaN,NaN,NaN,NaN,NaN,0,1,1

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 41 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   date                              375 non-null    object
 1   state                             375 non-null    object
 2   death                             359 non-null    float64
 3   deathConfirmed                    309 non-null    float64
 4   deathIncrease                     375 non-null    int64
 5   deathProbable                     300 non-null    float64
 6   hospitalized                      304 non-null    float64
 7   hospitalizedCumulative            304 non-null    float64
 8   hospitalizedCurrently             317 non-null    float64
 9   hospitalizedIncrease              375 non-null    int64
 10  inIcuCumulative                   304 non-null    float64
 11  inIcuCurrently                    336 non-null    float64
 12  negative                          363 non-null    float64
 13  negativeIncrease                  375 non-null    int64
 14  negativeTestsAntibody             0 non-null      float64
 15  negativeTestsPeopleAntibody       0 non-null      float64
 16  negativeTestsViral                0 non-null      float64
 17  onVentilatorCumulative            0 non-null      float64
 18  onVentilatorCurrently             336 non-null    float64
 19  positive                          367 non-null    float64
 20  positiveCasesViral                0 non-null      float64
 21  positiveIncrease                  375 non-null    int64
 22  positiveScore                     375 non-null    int64
 23  positiveTestsAntibody             0 non-null      float64
 24  positiveTestsAntigen              0 non-null      float64
 25  positiveTestsPeopleAntibody       0 non-null      float64
 26  positiveTestsPeopleAntigen        0 non-null      float64
 27  positiveTestsViral                375 non-null    int64
 28  recovered                         0 non-null      float64
 29  totalTestEncountersViral          0 non-null      float64
 30  totalTestEncountersViralIncrease  375 non-null    int64
 31  totalTestResults                  375 non-null    int64
 32  totalTestResultsIncrease          375 non-null    int64
 33  totalTestsAntibody                0 non-null      float64
 34  totalTestsAntigen                 0 non-null      float64
 35  totalTestsPeopleAntibody          0 non-null      float64
 36  totalTestsPeopleAntigen           0 non-null      float64
 37  totalTestsPeopleViral             299 non-null    float64
 38  totalTestsPeopleViralIncrease     375 non-null    int64
 39  totalTestsViral                   375 non-null    int64
 40  totalTestsViralIncrease           375 non-null    int64
dtypes: float64(27), int64(12), object(2)
memory usage: 120.2+ KB

In [13]:
df.min()

date                                01-01-2021
state                                       IN
death                                      0.0
deathConfirmed                          1132.0
deathIncrease                                0
deathProbable                            134.0
hospitalized                            4389.0
hospitalizedCumulative                  4389.0
hospitalizedCurrently                    595.0
hospitalizedIncrease                       -13
inIcuCumulative                          990.0
inIcuCurrently                           104.0
negative                                  30.0
negativeIncrease                             0
negativeTestsAntibody                      NaN
negativeTestsPeopleAntibody                NaN
negativeTestsViral                         NaN
onVentilatorCumulative                     NaN
onVentilatorCurrently                     50.0
positive                                   1.0
positiveCasesViral                         NaN
positiveIncrease                             0
positiveScore                                0
positiveTestsAntibody                      NaN
positiveTestsAntigen                       NaN
positiveTestsPeopleAntibody                NaN
positiveTestsPeopleAntigen                 NaN
positiveTestsViral                           0
recovered                                  NaN
totalTestEncountersViral                   NaN
totalTestEncountersViralIncrease             0
totalTestResults                             1
totalTestResultsIncrease                     0
totalTestsAntibody                         NaN
totalTestsAntigen                          NaN
totalTestsPeopleAntibody                   NaN
totalTestsPeopleAntigen                    NaN
totalTestsPeopleViral                 150510.0
totalTestsPeopleViralIncrease                0
totalTestsViral                              1
totalTestsViralIncrease                      0
dtype: object

In [14]:
df.max()

date                                31-12-2020
state                                       IN
death                                  12737.0
deathConfirmed                         12310.0
deathIncrease                             1546
deathProbable                            434.0
hospitalized                           43217.0
hospitalizedCumulative                 43217.0
hospitalizedCurrently                   3460.0
hospitalizedIncrease                      4389
inIcuCumulative                         7600.0
inIcuCurrently                          1001.0
negative                             2483156.0
negativeIncrease                         30761
negativeTestsAntibody                      NaN
negativeTestsPeopleAntibody                NaN
negativeTestsViral                         NaN
onVentilatorCumulative                     NaN
onVentilatorCurrently                    507.0
positive                              667262.0
positiveCasesViral                         NaN
positiveIncrease                          8460
positiveScore                                0
positiveTestsAntibody                      NaN
positiveTestsAntigen                       NaN
positiveTestsPeopleAntibody                NaN
positiveTestsPeopleAntigen                 NaN
positiveTestsViral                      760491
recovered                                  NaN
totalTestEncountersViral                   NaN
totalTestEncountersViralIncrease             0
totalTestResults                       8242367
totalTestResultsIncrease                 68372
totalTestsAntibody                         NaN
totalTestsAntigen                          NaN
totalTestsPeopleAntibody                   NaN
totalTestsPeopleAntigen                    NaN
totalTestsPeopleViral                3150418.0
totalTestsPeopleViralIncrease           150510
totalTestsViral                        8242367
totalTestsViralIncrease                  68372
dtype: object

In [15]:
df = pd.read_csv("Downloads/indian.csv")
df

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,07-03-2021,IN,12737.0,12310.0,11,427.0,43217.0,43217.0,656.0,64,...,8242367,29427,NaN,NaN,NaN,NaN,3150418.0,5389,8242367,29427
1,06-03-2021,IN,12726.0,12299.0,29,427.0,43153.0,43153.0,663.0,49,...,8212940,41718,NaN,NaN,NaN,NaN,3145029.0,6386,8212940,41718
2,05-03-2021,IN,12697.0,12263.0,34,434.0,43104.0,43104.0,730.0,60,...,8171222,37626,NaN,NaN,NaN,NaN,3138643.0,5320,8171222,37626
3,04-03-2021,IN,12663.0,12231.0,30,432.0,43044.0,43044.0,692.0,89,...,8133596,40539,NaN,NaN,NaN,NaN,3133323.0,5730,8133596,40539
4,03-03-2021,IN,12633.0,12200.0,10,433.0,42955.0,42955.0,731.0,93,...,8093057,36945,NaN,NaN,NaN,NaN,3127593.0,4564,8093057,36945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,02-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,0,NaN,NaN,NaN,NaN,NaN,0,6,0
371,01-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,2,NaN,NaN,NaN,NaN,NaN,0,6,2
372,29-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,4,2,NaN,NaN,NaN,NaN,NaN,0,4,2
373,28-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,2,1,NaN,NaN,NaN,NaN,NaN,0,2,1
374,27-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,1,0,NaN,NaN,NaN,NaN,NaN,0,1,1

In [16]:
df=df.rename(columns={"death":"total death","state":"states new"})
df

,date,states new,total death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,07-03-2021,IN,12737.0,12310.0,11,427.0,43217.0,43217.0,656.0,64,...,8242367,29427,NaN,NaN,NaN,NaN,3150418.0,5389,8242367,29427
1,06-03-2021,IN,12726.0,12299.0,29,427.0,43153.0,43153.0,663.0,49,...,8212940,41718,NaN,NaN,NaN,NaN,3145029.0,6386,8212940,41718
2,05-03-2021,IN,12697.0,12263.0,34,434.0,43104.0,43104.0,730.0,60,...,8171222,37626,NaN,NaN,NaN,NaN,3138643.0,5320,8171222,37626
3,04-03-2021,IN,12663.0,12231.0,30,432.0,43044.0,43044.0,692.0,89,...,8133596,40539,NaN,NaN,NaN,NaN,3133323.0,5730,8133596,40539
4,03-03-2021,IN,12633.0,12200.0,10,433.0,42955.0,42955.0,731.0,93,...,8093057,36945,NaN,NaN,NaN,NaN,3127593.0,4564,8093057,36945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,02-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,0,NaN,NaN,NaN,NaN,NaN,0,6,0
371,01-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,2,NaN,NaN,NaN,NaN,NaN,0,6,2
372,29-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,4,2,NaN,NaN,NaN,NaN,NaN,0,4,2
373,28-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,2,1,NaN,NaN,NaN,NaN,NaN,0,2,1
374,27-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,1,0,NaN,NaN,NaN,NaN,NaN,0,1,1

In [17]:
df = pd.read_csv("Downloads/indian.csv")
df

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,07-03-2021,IN,12737.0,12310.0,11,427.0,43217.0,43217.0,656.0,64,...,8242367,29427,NaN,NaN,NaN,NaN,3150418.0,5389,8242367,29427
1,06-03-2021,IN,12726.0,12299.0,29,427.0,43153.0,43153.0,663.0,49,...,8212940,41718,NaN,NaN,NaN,NaN,3145029.0,6386,8212940,41718
2,05-03-2021,IN,12697.0,12263.0,34,434.0,43104.0,43104.0,730.0,60,...,8171222,37626,NaN,NaN,NaN,NaN,3138643.0,5320,8171222,37626
3,04-03-2021,IN,12663.0,12231.0,30,432.0,43044.0,43044.0,692.0,89,...,8133596,40539,NaN,NaN,NaN,NaN,3133323.0,5730,8133596,40539
4,03-03-2021,IN,12633.0,12200.0,10,433.0,42955.0,42955.0,731.0,93,...,8093057,36945,NaN,NaN,NaN,NaN,3127593.0,4564,8093057,36945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,02-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,0,NaN,NaN,NaN,NaN,NaN,0,6,0
371,01-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,2,NaN,NaN,NaN,NaN,NaN,0,6,2
372,29-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,4,2,NaN,NaN,NaN,NaN,NaN,0,4,2
373,28-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,2,1,NaN,NaN,NaN,NaN,NaN,0,2,1
374,27-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,1,0,NaN,NaN,NaN,NaN,NaN,0,1,1

In [18]:
df.state== "IN"

0      True
1      True
2      True
3      True
4      True
       ...
370    True
371    True
372    True
373    True
374    True
Name: state, Length: 375, dtype: bool

In [19]:
df.state

0      IN
1      IN
2      IN
3      IN
4      IN
       ..
370    IN
371    IN
372    IN
373    IN
374    IN
Name: state, Length: 375, dtype: object

In [20]:
df["state"][0]

'IN'

In [21]:
df["state"][0]= "nepal"

C:\Users\HP\AppData\Local\Temp\ipykernel_19160\4112229212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["state"][0]= "nepal"

In [22]:
df

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,07-03-2021,nepal,12737.0,12310.0,11,427.0,43217.0,43217.0,656.0,64,...,8242367,29427,NaN,NaN,NaN,NaN,3150418.0,5389,8242367,29427
1,06-03-2021,IN,12726.0,12299.0,29,427.0,43153.0,43153.0,663.0,49,...,8212940,41718,NaN,NaN,NaN,NaN,3145029.0,6386,8212940,41718
2,05-03-2021,IN,12697.0,12263.0,34,434.0,43104.0,43104.0,730.0,60,...,8171222,37626,NaN,NaN,NaN,NaN,3138643.0,5320,8171222,37626
3,04-03-2021,IN,12663.0,12231.0,30,432.0,43044.0,43044.0,692.0,89,...,8133596,40539,NaN,NaN,NaN,NaN,3133323.0,5730,8133596,40539
4,03-03-2021,IN,12633.0,12200.0,10,433.0,42955.0,42955.0,731.0,93,...,8093057,36945,NaN,NaN,NaN,NaN,3127593.0,4564,8093057,36945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,02-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,0,NaN,NaN,NaN,NaN,NaN,0,6,0
371,01-03-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,6,2,NaN,NaN,NaN,NaN,NaN,0,6,2
372,29-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,4,2,NaN,NaN,NaN,NaN,NaN,0,4,2
373,28-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,2,1,NaN,NaN,NaN,NaN,NaN,0,2,1
374,27-02-2020,IN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,1,0,NaN,NaN,NaN,NaN,NaN,0,1,1

In [23]:
df.iloc[1,4]= None 
# for changing something wihtout name of rows columns

In [24]:
df

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,07-03-2021,nepal,12737.0,12310.0,11.0,427.0,43217.0,43217.0,656.0,64,...,8242367,29427,NaN,NaN,NaN,NaN,3150418.0,5389,8242367,29427
1,06-03-2021,IN,12726.0,12299.0,NaN,427.0,43153.0,43153.0,663.0,49,...,8212940,41718,NaN,NaN,NaN,NaN,3145029.0,6386,8212940,41718
2,05-03-2021,IN,12697.0,12263.0,34.0,434.0,43104.0,43104.0,730.0,60,...,8171222,37626,NaN,NaN,NaN,NaN,3138643.0,5320,8171222,37626
3,04-03-2021,IN,12663.0,12231.0,30.0,432.0,43044.0,43044.0,692.0,89,...,8133596,40539,NaN,NaN,NaN,NaN,3133323.0,5730,8133596,40539
4,03-03-2021,IN,12633.0,12200.0,10.0,433.0,42955.0,42955.0,731.0,93,...,8093057,36945,NaN,NaN,NaN,NaN,3127593.0,4564,8093057,36945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,02-03-2020,IN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,...,6,0,NaN,NaN,NaN,NaN,NaN,0,6,0
371,01-03-2020,IN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,...,6,2,NaN,NaN,NaN,NaN,NaN,0,6,2
372,29-02-2020,IN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,...,4,2,NaN,NaN,NaN,NaN,NaN,0,4,2
373,28-02-2020,IN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,...,2,1,NaN,NaN,NaN,NaN,NaN,0,2,1
374,27-02-2020,IN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,...,1,0,NaN,NaN,NaN,NaN,NaN,0,1,1

In [25]:
df.loc[3,"state"]= None

In [26]:
df

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,07-03-2021,nepal,12737.0,12310.0,11.0,427.0,43217.0,43217.0,656.0,64,...,8242367,29427,NaN,NaN,NaN,NaN,3150418.0,5389,8242367,29427
1,06-03-2021,IN,12726.0,12299.0,NaN,427.0,43153.0,43153.0,663.0,49,...,8212940,41718,NaN,NaN,NaN,NaN,3145029.0,6386,8212940,41718
2,05-03-2021,IN,12697.0,12263.0,34.0,434.0,43104.0,43104.0,730.0,60,...,8171222,37626,NaN,NaN,NaN,NaN,3138643.0,5320,8171222,37626
3,04-03-2021,None,12663.0,12231.0,30.0,432.0,43044.0,43044.0,692.0,89,...,8133596,40539,NaN,NaN,NaN,NaN,3133323.0,5730,8133596,40539
4,03-03-2021,IN,12633.0,12200.0,10.0,433.0,42955.0,42955.0,731.0,93,...,8093057,36945,NaN,NaN,NaN,NaN,3127593.0,4564,8093057,36945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,02-03-2020,IN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,...,6,0,NaN,NaN,NaN,NaN,NaN,0,6,0
371,01-03-2020,IN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,...,6,2,NaN,NaN,NaN,NaN,NaN,0,6,2
372,29-02-2020,IN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,...,4,2,NaN,NaN,NaN,NaN,NaN,0,4,2
373,28-02-2020,IN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,...,2,1,NaN,NaN,NaN,NaN,NaN,0,2,1
374,27-02-2020,IN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,...,1,0,NaN,NaN,NaN,NaN,NaN,0,1,1

In [27]:
df.loc[3,"deathConfirmed"]= None

In [28]:
df

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,07-03-2021,nepal,12737.0,12310.0,11.0,427.0,43217.0,43217.0,656.0,64,...,8242367,29427,NaN,NaN,NaN,NaN,3150418.0,5389,8242367,29427
1,06-03-2021,IN,12726.0,12299.0,NaN,427.0,43153.0,43153.0,663.0,49,...,8212940,41718,NaN,NaN,NaN,NaN,3145029.0,6386,8212940,41718
2,05-03-2021,IN,12697.0,12263.0,34.0,434.0,43104.0,43104.0,730.0,60,...,8171222,37626,NaN,NaN,NaN,NaN,3138643.0,5320,8171222,37626
3,04-03-2021,None,12663.0,NaN,30.0,432.0,43044.0,43044.0,692.0,89,...,8133596,40539,NaN,NaN,NaN,NaN,3133323.0,5730,8133596,40539
4,03-03-2021,IN,12633.0,12200.0,10.0,433.0,42955.0,42955.0,731.0,93,...,8093057,36945,NaN,NaN,NaN,NaN,3127593.0,4564,8093057,36945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,02-03-2020,IN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,...,6,0,NaN,NaN,NaN,NaN,NaN,0,6,0
371,01-03-2020,IN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,...,6,2,NaN,NaN,NaN,NaN,NaN,0,6,2
372,29-02-2020,IN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,...,4,2,NaN,NaN,NaN,NaN,NaN,0,4,2
373,28-02-2020,IN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,...,2,1,NaN,NaN,NaN,NaN,NaN,0,2,1
374,27-02-2020,IN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,...,1,0,NaN,NaN,NaN,NaN,NaN,0,1,1